*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: static;
    width: 100%;
    height: 100vh;
    background color: #eff4fd;
    position: static;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
    
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 120%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .profile2{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}


/*----- Biodata -----*/



 .Biodata{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }   
 h1{
    font-size: 36px;
    font-weight: 600;
 }

 p{
    color: #777;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
 }

 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }

.Biodata-col{
    flex-basis: 19%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
 .Biodata-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)

}
 /*------- Education ----*/

 .Education{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.Education-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.Education-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}


/*-------- Experience --------*/

.Experience{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.Experience-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.Experience-col img{
    height: 150px;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 50%;
}

.Experience-col p{
    padding: 0;
}

.Experience-col h3{
    margin-top: 15px;
    text-align: left;
}

@media(max-width: 700px){
    .Experience-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*------- Hire Me -----*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}


/*---------- about my education -------*/

.hero{
    background-image: url(images/background.jpg);
    position: static;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: static;


#copyright {
    text-align: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin-top: 50px;
    background: white;
}